<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.alfredapp.text-transformer</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
      <key>6F2D236E-D961-42DC-ACF2-7C025CA92966</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Preview</string>
          <key>vitoclose</key>
          <true></true>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>8F3894EF-9FDA-4943-9C83-1229F6B9B94C</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Preview</string>
          <key>vitoclose</key>
          <true></true>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>9A15D0E2-7D63-41A4-BC56-51F20740BA9B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Preview</string>
          <key>vitoclose</key>
          <true></true>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>B9150C05-6465-4A8C-91F7-D6929176F398</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Preview</string>
          <key>vitoclose</key>
          <true></true>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>E99E241E-04E1-4AAC-A6C9-078930728071</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Preview</string>
          <key>vitoclose</key>
          <true></true>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Aviv Ben Shahar</string>
    <key>description</key>
    <string>Transform text using Alfred - translate, spell-check, and more!</string>
    <key>disabled</key>
    <false></false>
    <key>name</key>
    <string>Text Transformer</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alignment</key>
          <integer>0</integer>
          <key>backgroundcolor</key>
          <string></string>
          <key>fadespeed</key>
          <integer>0</integer>
          <key>fillmode</key>
          <integer>0</integer>
          <key>font</key>
          <string></string>
          <key>ignoredynamicplaceholders</key>
          <false></false>
          <key>largetypetext</key>
          <string>{query}</string>
          <key>textcolor</key>
          <string></string>
          <key>wrapat</key>
          <integer>50</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.largetype</string>
        <key>uid</key>
        <string>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:grammar_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Fixing...</string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/grammar "$1"
</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string></string>
          <key>title</key>
          <string>Fix Grammar</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>9A15D0E2-7D63-41A4-BC56-51F20740BA9B</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:spell_check_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Spell-checking...</string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/spell-check "$1"
</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string></string>
          <key>title</key>
          <string>Spell-check</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>6F2D236E-D961-42DC-ACF2-7C025CA92966</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:action_items_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Extracting...</string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/action-items "$1"
</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Extract action items from the provided text</string>
          <key>title</key>
          <string>Action Items</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>8F3894EF-9FDA-4943-9C83-1229F6B9B94C</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:beautify_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Beautifying...</string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/beautify "$1"
</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Make the text more readable and engaging</string>
          <key>title</key>
          <string>Beautify</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>B9150C05-6465-4A8C-91F7-D6929176F398</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false></false>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false></false>
          <key>transient</key>
          <false></false>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:translate_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Translating...</string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/translate "$1"
</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Translate text to a givin target language</string>
          <key>title</key>
          <string>Translate</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>E99E241E-04E1-4AAC-A6C9-078930728071</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>#### Thank you for using Text Transformer! ✨

This workflow has been created using Fast Alfred, a user-friendly workflow builder that simplifies the process of creating Alfred workflows.

## Features

- Grammar: Correct grammar mistakes
- Beautify: Enhance the text for better readability and engagement
- Spell Check: Identify spelling errors without grammar checking
- Translate: Translate text into any language

## Usage

Use your customized Alfred keyword to activate each command.

### Translate

Enter the language code (e.g., "en" for English) followed by the text to be translated, like "en Hello, how are you?"

If the language code is missing, the default language will be English.

To view the workflow codebase, click here:
https://github.com/Avivbens/alfred-text-transformer</string>
    <key>uidata</key>
    <dict>
      <key>47B45BC6-EA28-4EFD-8A39-E2FC7283C0E7</key>
      <dict>
        <key>xpos</key>
        <integer>725</integer>
        <key>ypos</key>
        <integer>725</integer>
      </dict>
      <key>6F2D236E-D961-42DC-ACF2-7C025CA92966</key>
      <dict>
        <key>xpos</key>
        <integer>70</integer>
        <key>ypos</key>
        <integer>215</integer>
      </dict>
      <key>8F3894EF-9FDA-4943-9C83-1229F6B9B94C</key>
      <dict>
        <key>xpos</key>
        <integer>60</integer>
        <key>ypos</key>
        <integer>420</integer>
      </dict>
      <key>9A15D0E2-7D63-41A4-BC56-51F20740BA9B</key>
      <dict>
        <key>xpos</key>
        <integer>70</integer>
        <key>ypos</key>
        <integer>65</integer>
      </dict>
      <key>B9150C05-6465-4A8C-91F7-D6929176F398</key>
      <dict>
        <key>xpos</key>
        <integer>65</integer>
        <key>ypos</key>
        <integer>575</integer>
      </dict>
      <key>BDA5261A-EF85-4EB4-9DAA-F57EB307B76F</key>
      <dict>
        <key>xpos</key>
        <integer>720</integer>
        <key>ypos</key>
        <integer>60</integer>
      </dict>
      <key>E99E241E-04E1-4AAC-A6C9-078930728071</key>
      <dict>
        <key>xpos</key>
        <integer>65</integer>
        <key>ypos</key>
        <integer>725</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
          <key>verticalsize</key>
          <integer>3</integer>
        </dict>
        <key>description</key>
        <string>Your OpenAI access token</string>
        <key>label</key>
        <string>OpenAI Token</string>
        <key>type</key>
        <string>textarea</string>
        <key>variable</key>
        <string>open_ai_token</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>defaultvalue</key>
          <integer>700</integer>
          <key>markercount</key>
          <integer>16</integer>
          <key>maxvalue</key>
          <integer>1500</integer>
          <key>minvalue</key>
          <integer>0</integer>
          <key>onlystoponmarkers</key>
          <true></true>
          <key>showmarkers</key>
          <true></true>
        </dict>
        <key>description</key>
        <string>In order to avoid un-needed calls to Open AI, we would debounce each requrest until the user stopped typing ✨</string>
        <key>label</key>
        <string>Debounce time to wait</string>
        <key>type</key>
        <string>slider</string>
        <key>variable</key>
        <string>debounce_time</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>tr</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string></string>
        <key>label</key>
        <string>Translate Keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>translate_keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>gr</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string></string>
        <key>label</key>
        <string>Grammar check keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>grammar_keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>sp</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string></string>
        <key>label</key>
        <string>Spell-check Keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>spell_check_keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>be</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string></string>
        <key>label</key>
        <string>Beautify Keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>beautify_keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>aci</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string>Extract relevant pinpoint items from a large text</string>
        <key>label</key>
        <string>Action Items Keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>action_items_keyword</string>
      </dict>
    </array>
    <key>version</key>
    <string>1.1.0</string>
    <key>webaddress</key>
    <string>https://github.com/Avivbens/alfred-text-transformer</string>
  </dict>
</plist>